// Chargé exclusivement dans la vue /embed/comments (iframe)
html,
body {
  background: #fff;
}

footer .button {
  background-color: #174424;
  color: #fff;

  &:hover {
    background-color: #3a7046;
  }
}

a {
  color: #3a7046;

  &:hover {
    color: #44a950;
  }
}
